.search {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;

    input {
        width: 100%;
        padding: 5px 110px 5px 10px;
        height: 30px;
        border-radius: 3px;
        border: 0;
    }

    button {
        display: inline-block;
        width: 100px;
        padding: 5px;
        border-radius: 3px;
        outline: none;
        background-color: burlywood;
        border: 0;
        color: darkslategray;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        &:hover {
            cursor: pointer;
            background-color: darken(burlywood, 10%);
        }
    }
}

.input-holder {
    position: relative;
}